<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/globe.ico"/>
    <title>News mApp</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <!-- BOOTSTRAP THEME CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <!-- CSS STYLE SHEET -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!-- LEAFLET CSS -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <!-- MODERNIZR -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

</head>

<body>

    <!-- WELCOME MODAL -->

    <div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Welcome to news mApp!</h4>
                </div>
                <div class="modal-body">
                    <p>Click a location to see its:</p>
                    <ul>
                        <li>Local Weather</li>
                        <li>Country News</li>
                        <li>Background Information</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- TITLE HEADER -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="titleSpace">news mApp</div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="dateSpace"></div>
        </div>
    </div>

    <!-- TOP BAR -->

    <div class="container">
        <div class="row text-center" id="topBar">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 navLink"><a href="#weatherSpace">Local Weather</a></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 navLink"><a href="#newsSpace">Country News</a></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a href="#backgroundSpace">Background Information</a></div>
        </div>
    </div>

    <!-- MAP CONTAINER -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title text-center" id="mapSpace">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CITY CONTAINER -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="citySpace"></div>
        </div>
    </div>

    <!-- WEATHER AND NEWS CONTAINER -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="weatherSpace"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="newsSpace"></div>
        </div>
    </div>

    <!-- BACKGROUND CONTAINER -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="backgroundSpace"></div>
        </div>
    </div>

    <!-- CITY TEMPLATE -->

    <script type="text/template" id="cityTemplate">
        <div class="panel panel-default">
            <div class="panel-heading" id="cityPanel">
                <div class="panel-title text-center">
                    <h3>{{ country }}</h3>
                    <h4>{{ city }}</h4>
                </div>
            </div>
        </div>
    </script>

    <!-- WEATHER TEMPLATE -->

    <script type="text/template" id="weatherTemplate">
        <div class="panel panel-default">
            <div class="panel-heading" id="headerPanel">
                <h2 class="panel-title">Local Weather</u></h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                        <canvas id="iconSpace"></canvas>
                        <h1>{{ condition }}</h1>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right text-center">
                        <p id="tempSpace">{{ temp}}°F</p>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- NEWS TEMPLATE -->

    <script type="text/template" id="newsTemplate">
        <div class="panel panel-default">
            <div class="panel-heading" id="headerPanel">
                <h3 class="panel-title">Country News</h3>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {{ stories[0].title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {{ stories[0].teaser }} <a href="{{ stories[0].link }}">Read more at NPR.</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            {{ stories[1].title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ stories[1].teaser }} <a href="{{ stories[1].link }}">Read more at NPR.</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            {{ stories[2].title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ stories[2].teaser }} <a href="{{ stories[2].link }}">Read more at NPR.</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            {{ stories[3].title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ stories[3].teaser }} <a href="{{ stories[3].link }}">Read more at NPR.</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            {{ stories[4].title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ stories[4].teaser }} <a href="{{ stories[4].link }}">Read more at NPR.</a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- BACKGROUND TEMPLATE -->

    <script type="text/template" id="backgroundTemplate">
        <div class="panel panel-default">
            <div class="panel-heading" id="headerPanel">
                <h3 class="panel-title">Background Information</h3>
            </div>
            <div class="panel-body">
                {{ backgroundInfo.extract }} <a href="http://www.wikipedia.org/wiki/{{country }}">Read more at Wikipedia.</a>
            </div>
        </div>
    </script>

    <!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- UNDERSCORE JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript">_.templateSettings = { interpolate: /\{\{(.+?)\}\}/g };</script>
    <!-- SKYCON JS -->
    <script src="/js/skycons.js"></script>
    <!-- LEAFLET JS -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- MODAL -->
    <script src="/js/modal.js"></script>
    <!-- GeoJSON COUNTRY DATA -->
    <script src="/js/world.js"></script>
    <!-- DATE JS -->
    <script src="/js/date.js"></script>
    <!-- GeoJSON LAYER DATA -->
    <script src="/js/geoJSONLayer.js"></script>
    <!-- MAP LAYER DATA -->
    <script src="/js/map.js"></script>
    <!-- API CALLS -->
    <script src="/js/apiCalls.js"></script>
    <!-- TEMPLATE RENDERING -->
    <script src="/js/templateRendering.js"></script>

    <!-- BOOTSTAP JS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
