/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid red;
}*/

body {
    font-family: helvetica;
    
}

#titleSpace {
    height: 6rem;
    font-size: 4.5rem;
}

#dateSpace {
    border-top: 1px solid gray;
}

#mapSpace {
    height: 70rem;
    transition: height 0.7s ease-in-out;
}

#cityPanel {
    background-image: -webkit-linear-gradient(top, navy 0, navy 100%);
    color: white;
}

#citySpace {
    display: none;
}

#weatherSpace, 
#newsSpace, 
#backgroundSpace {
    font-size: 1.4rem;
    display: none;
}

#iconSpace {
    width: 12rem;
    height: 7rem;
    display: none;
}

#tempSpace {
    margin-top: 4rem;
    font-size: 4.5rem;
}

.modal-dialog {
  padding-top: 20%;
}

@media(min-width:768px) {

    #dateSpace {
        text-align: right;
        border-top: 0px;
    }
}