/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid red;
}*/

body {
    font-family: helvetica;
    
}

#title {
    height: 6rem;
    font-size: 4rem;
}

#top-bar {
    font-size: 1rem;
    margin-bottom: 2rem;
    border-style: double;
    border-color: black white black white;
}

#date {
    text-align: right;
}

#map {
    height: 70rem;
    transition: height 0.7s ease-in-out;
}

#location {
    display: none;
}

#city {
    font-size: 1rem;
    display: none;
}

#weather {
    width: 12rem;
    height: 7rem;
    display: none;
}

#newsSpace {
    font-size: 1.4rem;
    display: none;
}

#background {
    font-size: 1.4rem;
    display: none;
}

#temp {
    margin-top: 2rem;
    font-size: 7rem;
}

.modal-dialog {
  padding-top: 20%;
}


/*.modal-dialog{
position: absolute;
left: 50%;
margin-left: -312px;
height: 500px;
top: 50%;
margin-top: -250px;
}*/