/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid red;
}*/

body {
    font-family: helvetica;
}

#titleSpace {
    height: 8rem;
    font-size: 5rem;
}

#mapSpace {
    height: 70rem;
    transition: height 0.7s ease-in-out;
}

#citySpace {
    display: none;
}

#weatherSpace, 
#newsSpace, 
#backgroundSpace {
    font-size: 1.4rem;
    display: none;
}

#iconSpace {
    width: 12rem;
    height: 7rem;
    display: none;
}

#tempSpace {
    margin-top: 4rem;
    font-size: 4.5rem;
}

.modal-dialog {
  padding-top: 20%;
}